COMPOSE_PROJECT_NAME=fishhouse
TZ=Europe/Moscow

SUI_IMAGE=PLACEHOLDER_REPLACE_WITH_ACTUAL_SUI_IMAGE

ROOT_DOMAIN=fish-house.su
WWW_DOMAIN=www.fish-house.su
PANEL_DOMAIN=panel.fish-house.su
HY2_DOMAIN=hy2.fish-house.su
VLESS_DOMAIN=vless.fish-house.su

LETSENCRYPT_EMAIL=admin@fish-house.su
LETSENCRYPT_STAGING=0
